input[type=file] {
    display:block;
    height:0;
    width:0;
}
/*
#wrapper {
    border: 1px solid #333;
    width:1300px;
    height:155px;

}


#div1 {
    display: inline-block;
    border: 1px solid #333;
    width:430px;
    border-right: 2px solid white;
    height:150px;
    vertical-align: top;
}
#div2 {
    display: inline-block;
    border: 1px solid #333;
    width: 350px;
    border-right: 2px solid white;
    height:150px;
    vertical-align: top;
}
#div3 {
    display: inline-block;
    border: 1px solid #333;
    width: 350px;
    height:150px;
    vertical-align: top;
}

#wrapper0 {
    border: 1px solid #333;
    width:1300px;
    height:130px;

}

#myholder0 {
    display: inline-block;
    position: relative;
    left:0px;
    height: 130px;
    max-height: 130px;
}

#mytext{
    display: inline-block;
    vertical-align: top;
}*/


body {
    background-color: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    }
	
	body
	{
	font-family: 'Lucida Console', Monaco, monospace;
	}
	
#myholder {
margin-left:420px;
margin-top: -800px;
height: 800px;
padding-right: 60px;
padding-left:0px;
border-right: 2px solid gray;
border-left: 2px solid gray;
border-top : 2px solid gray;
width : 1100px; 
border-bottom : 2px solid gray;
width : 1100px; 
}


#div0 {
	
margin-left:420px;
margin-top: +20px
}